<footer class="container-fluid text-center align-content-center footer pb-2">
  <div class="container pt-5">
    <div class="row text-left">
      <div class="col-md-4 col-sm-12">
        <h5>Navigation</h5>
        {{ if .Site.Data.sections }}
        <ul>
          {{- range sort .Site.Data.sections "section.weight" }}
            {{ if and (.section.enable) (.section.showOnNavbar)}}
            <li class="nav-item">
              <a class="smooth-scroll" href="/#{{ replace (lower .section.name) " " "-" }}">{{ .section.name }}</a>
            </li>
            {{ end }}
          {{- end }}
        </ul>
        {{ end }}

      </div>
      <div class="col-md-4 col-sm-12">
        <h5>Contact Me</h5>
        <ul>
          {{ range $key,$value:=.Site.Params.author.contactInfo }}
          <li><span>{{ title $key }}: </span> <span>{{ $value }}</span></li>
          {{ end }}
        </ul>
      </div>
      <div class="col-md-4 col-sm-12">
        <!-- <h5>Newsletter</h5> -->
        <p>Stay up to date with email notification</p>
        <form>
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Enter email"
            />
            <small id="emailHelp" class="form-text text-muted"
              >We'll never share your email with anyone else.</small
            >
          </div>
          <button type="submit" class="btn btn-info">Submit</button>
        </form>
      </div>
    </div>
  </div>
  <hr />
<!--
  <div class="container">
    <div class="row text-left">
      <div class="col-md-4">
        <a id="theme" href="https://github.com/hossainemruz/toha" target="#">
          <img src="/assets/images/logo-inverted.png">
          Toha
        </a>
      </div>
      <div class="col-md-4">{{ if .Site.Params.copyright }}{{ .Site.Params.copyright }}{{ else }}© 2020 Copyright.{{ end }}</div>
      <div class="col-md-4">
        Powered by <a href="https://gohugo.io/">Hugo
        <img
          src="/assets/images/hugo-logo-wide.svg"
          alt="Hugo Logo"
          height="18"
        />
        </a>
      </div>
    </div>
  </div>
-->
</footer>
